@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid red;

  & > * {
    border: 1px solid green;

    & > * {
      border: 1px solid blue;
    }
  }
}

.register {
  font-family: verdana;
  text-align: center;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 108, 1) 25%,
    rgba(255, 119, 0, 1) 75%
  );
}

.main-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/background.webp");
}

.button {
  cursor: pointer;
}

.customaddbutton {
  cursor: pointer;
  // border: 1px solid grey;
  // border-radius: 20px;
  // position: relative;
  // bottom: 28px;
  // left: 53px;
  position: absolute !important;
  bottom: -8px;
  right: -8px;
}

.customdeletebutton {
  cursor: pointer;
  // border: 1px solid black;
  // position: relative;
  // bottom: 50px;
  right: -8px;
  top: 0px;
  position: absolute !important;
}

.customdeletebutton:hover {
  background-color: lightcoral;
}
