@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid red;

  & > * {
    border: 1px solid green;

    & > * {
      border: 1px solid blue;
    }
  }
}

.register {
  font-family: verdana;
  text-align: center;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 108, 1) 25%,
    rgba(255, 119, 0, 1) 75%
  );
}

.subregister {
  font-family: verdana;
  text-align: center;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 108, 1) 25%,
    rgba(255, 119, 0, 1) 75%
  );
}

.register:hover {
  color: white !important;
  font-family: verdana;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 108, 1) 25%,
    rgba(255, 119, 0, 1) 75%
  );
}

.main-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/background.webp");
  background-attachment: fixed;
}

.main-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));


//  min-height: 1000px;
    // height: 10%;
    // overflow: scroll;


  // overflow: scroll;
  // min-height: 800px;
  // height: 100%;
}

.login {
  font-family: sans-serif;
  margin-right: 20px;
  // margin-left: auto;
  // margin-right: auto;
  background-color: white;
  // background-color: orange !important;
  color: black !important;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
}

.mylogin {
  font-family: sans-serif;
  margin-left: 15px;
  background-color: white;
  // background-color: orange !important;
  color: black !important;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  width: 90%;
  // margin-left: 40%;
  // margin-right: auto;
}

.mylogin:hover {
  font-family: sans-serif;
  margin-left: 15px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 108, 1) 25%,
    rgba(255, 119, 0, 1) 75%
  );
  // background-color: orange !important;
  color: white !important;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  width: 90%;
  // margin-left: 40%;
  // margin-right: auto;
}

.login:hover {
  color: white !important;
  font-family: verdana;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 108, 1) 25%,
    rgba(255, 119, 0, 1) 75%
  );
}

.button {
  cursor: pointer;
}

.customaddbutton {
  cursor: pointer;
  // border: 1px solid grey;
  // border-radius: 20px;
  // position: relative;
  // bottom: 28px;
  // left: 53px;
  position: absolute !important;
  bottom: -8px;
  right: -8px;
}

.customdeletebutton {
  cursor: pointer;
  // border: 1px solid black;
  // position: relative;
  // bottom: 50px;
  right: -8px;
  top: 0px;
  position: absolute !important;
}

.customdeletebutton:hover {
  background-color: lightcoral;
}

.inputclass {
  color: purple;
  background: lime;

}

.enteremail {
  // border: 1px solid black;
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 10px;
}

.customlogo {
  font-family: Lobster, cursive;
  color: black;
  font-size: 40px;
  font-weight: normal;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: -40px;
}

.ithick {
  font-style: italic;
  font-weight: 500;
}

