.rti--container {
  --rti-bg: transparent;
  --rti-border: "#ffff";
  --rti-main: "#3182ce";
  --rti-radius: "0.375rem";
  --rti-s: "0.5rem"; /* spacing */
  --rti-tag: "#edf2f7";
  --rti-tag-remove: "#e53e3e";

  width: 200px;
  height: 200px;
  margin-right: 70px;
}

.rti--tag {
  background: #cccccc;
  border-radius: 10px;
  border: 1px solid black;
  margin: 2px;
}

.rti--container > input {
  background: transparent;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;

}

